body{
    cursor:none;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
}

@keyframes animate 
{
0%{
transform: translateY(0) rotate(0deg);
opacity: 1;
border-radius: 0;
}
100%{
transform: translateY(-1000px) rotate(720deg);
opacity: 0;
border-radius: 50%;
    }
}


@media (max-width: 768px) {
    body {
        cursor: auto; /* Réactive le curseur par défaut */
    }
    .circle {
        display: none; /* Cache les cercles */
    }
}